/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/*border: 0;*/
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	border:0px solid red;
}

html, body {
    height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/*Page Container*/
body {
	margin-left:7.5%;
	margin-right:7.5%;
	margin-top: 1%;
}
hr{
	border:1px solid black;
}
/*Nav bar*/
nav {
	display: flex;
	justify-content: space-between;
	padding-bottom: 2%;
	display: flex;
	width:100%;
	align-items: center;
}
div.navigationTab {
	display: flex;
	width: 70%;
	justify-content: space-between;
}
nav a {
	font-size: 23px;
	text-decoration: none;
	color: lightgrey;
}
nav a:hover{
	color: blue;
}
div.logo{
	display: flex;
	width: 23%;
	justify-content: right;
	flex-wrap: wrap;
}
nav img.logo{
	display: flex;
	width: 100%;
}
/*start section*/
section.start {
	padding-top: 4%;
	padding-bottom: 4%;
	display: flex;
	width:100%;
}
h1 {
	font-size: 125px;
	text-align: center;
}
div.halfOfPage{
	width:50%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
}
div.h1 {
	display: flex;
	justify-content: center;
	height: 55%;
}
div.button {
	padding-top: 3%;
	display: flex;
	justify-content: center;
	width: 100%;
}
div.button a{
	padding:5px 80px 5px 80px;
	border: 1px solid black;
	text-decoration: none;
	color:black;
}
div.button a:hover{
	border: 1px solid lightgrey;
	text-decoration: none;
	color:lightgrey;
}
div.button p{
	border: 0;
}
div.headerImg {
	width: 50%;
	display: flex;
	justify-content: flex-end;
 }
section.start img{
	 width: 90%;
 }
/*info Section*/
section.info {
	padding-top: 4%;
	padding-bottom: 4%;
	display: flex;
}
div.textbox {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
}
div.featuresblock{
	width: 48%;
}
div.aboutblock{
	width: 50%;
}
img.middle-img {
	width:100%;
	align-self: center;
}
div.servicesblock, div.productblock, div.visionblock{
	width: 33%;
}
/*Bottom Section*/
footer {
	padding-top: 4%;
	padding-bottom: 4%;
}

address{
	padding-top: 4%;
	width:20%;
}
p.copyright {
	padding-bottom: 4%;
	text-align:center;
	margin:0 auto;
}
div.cpc {
	text-align:center;
	margin: 0 auto;
}
span.phonenumber {
	text-decoration: none;
	color:black;
}
/*--------------Services Page----------------*/
img.services-header-img {
	width: 100%;
}
 /*Service Section*/
 section.servicesSection{
	 width: 100%;
	 padding-top: 2%;
	 padding-bottom: 2%;
 }
 h2 {
	 font-size: 45px;
 }
 p {
	line-height: 23px;
 }
/*Classes Section*/
section.classes {
	width: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

div.modules {
	padding-top: 2%;
	padding-bottom: 2%;
	width: 48%;
}
div.choices {
   padding:3%;
   border: 1px solid black;
}
div.learnbutton {
	padding-top: 2%;
	display: flex;
	width: 100%;
}
div.learnbutton a{
	padding:10px 40px 10px 40px;
	border: 1px solid black;
	text-decoration: none;
	color:black;
	border-radius: 5px;
}

div.learnbutton a:hover{
	color:lightgrey;
	border: 1px solid lightgrey;
	border-radius: 5px;
}
/*Bottom Section*/

section.bottom {
	width: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
	display: flex;
	justify-content: space-between;
}
div.bottomhalf {
	display: flex;
	width: 46.5%;
	flex-direction: column;
	justify-content: space-between;
}
div.cimg {
	width: 48%;
}
img.services-info-img {
	width: 100%;
}
div.list{
	display: flex;
	padding-left: 20px;
	align-content: center;
	height: 80%;

}
ul {
	line-height: 20px;
	align-self: center;
}
